<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - HomeTutor</title>
    <link href="choose.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src=".\assets\images\Design.png" alt="Tutor App Logo" style="max-width: 150px;">
        <h2>Sign Up</h2>
    </header>

    <div class="auth-selection">
        <h2>Choose Your Role</h2>
        <button onclick="window.location.href='signup_for_Students.html'">Sign Up as Student</button>
        <button onclick="window.location.href='signup_for_teachers.html'">Sign Up as Teacher</button>
    </div>
</body>
</html>
