body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

header {
    text-align: center;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
}
