<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Assignments - Tutor App</title>
    <link rel="stylesheet" href="teacher-assign.css">
</head>
<body>
    <header>
        <img src=".\assets\images\Design.png" alt="Tutor App Logo" class="logo">
        <h2>Manage Assignments</h2>
    </header>

    <main>
        <section>
            <h3>Assignments Folder</h3>
            <p><a href="teach_view_assign.html">View All Assignments</a></p>
            <p><a href="upload_assignment.html">Upload New Assignment</a></p>
            <p><a href="edit_assignment.html">Edit Assignment</a></p>
            <p><a href="delete_assignment.html">Delete Assignment</a></p>
        </section>
        
        <section>
            <h3>Students Folder</h3>
            <p><a href="view_all_student.html">View All Students</a></p>
            <p><a href="add_new_student.html">Add New Student</a></p>
            <p><a href="remove_student.html">Remove Student</a></p>
        </section>
        
        <section>
            <h3>Tasks Given to Students</h3>
            <p><a href="view_task.html">View Assigned Tasks</a></p>
            <p><a href="Assign_new_task.html">Assign New Task</a></p>
            <p><a href="edit_task.html">Edit Assigned Task</a></p>
            <p><a href="Delete_task.html">Delete Assigned Task</a></p>
        </section>

        <section>
            <h3>Courses Management</h3>
            <p><a href="course.html">Add a New Course</a></p>
            <p><a href="delete_course.html">Delete a Running Course</a></p>
            <p><a href="extend_course.html">Extend Course End Date</a></p>
        </section>

    </main>
</body>
</html>
